.jumbotron {
  padding-top: 6rem;
  background-color: #ffe6e6;
}

#projects {
  background-color: #ffe6e6;
}

section {
  padding-top: 1rem;
}

.bg-red {
  background-color: #ff1a1a;
}

.bg-light-red {
  background-color: #ffe6e6;
}

a {
  color: #ff1a1a;
}

.logo-perusahaan {
  height: 150px;
}

.hideme {
    opacity:0;
}

.img_rp {
  height: 50px;
  margin-right: 7px;
}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,400 L 0,100 C 195.86666666666667,105.73333333333333 391.73333333333335,111.46666666666667 542,104 C 692.2666666666667,96.53333333333333 796.9333333333334,75.86666666666666 939,73 C 1081.0666666666666,70.13333333333334 1260.5333333333333,85.06666666666666 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 L 0,100 C 154,90.53333333333333 308,81.06666666666668 476,80 C 644,78.93333333333332 826,86.26666666666667 989,91 C 1152,95.73333333333333 1296,97.86666666666667 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 L 0,100 C 121.06666666666666,129.33333333333331 242.13333333333333,158.66666666666666 397,143 C 551.8666666666667,127.33333333333334 740.5333333333333,66.66666666666667 920,52 C 1099.4666666666667,37.33333333333333 1269.7333333333333,68.66666666666666 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 L 0,100 C 173.46666666666664,96.4 346.9333333333333,92.8 522,82 C 697.0666666666667,71.2 873.7333333333333,53.20000000000001 1027,55 C 1180.2666666666667,56.79999999999999 1310.1333333333332,78.39999999999999 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 L 0,100 C 195.86666666666667,105.73333333333333 391.73333333333335,111.46666666666667 542,104 C 692.2666666666667,96.53333333333333 796.9333333333334,75.86666666666666 939,73 C 1081.0666666666666,70.13333333333334 1260.5333333333333,85.06666666666666 1440,100 L 1440,400 L 0,400 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,400 L 0,233 C 198.93333333333334,232.60000000000002 397.8666666666667,232.20000000000002 558,241 C 718.1333333333333,249.79999999999998 839.4666666666667,267.79999999999995 980,268 C 1120.5333333333333,268.20000000000005 1280.2666666666667,250.60000000000002 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 L 0,233 C 179.2,259.26666666666665 358.4,285.53333333333336 518,282 C 677.6,278.46666666666664 817.5999999999999,245.13333333333335 968,232 C 1118.4,218.86666666666665 1279.2,225.93333333333334 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 L 0,233 C 185.33333333333331,213.53333333333333 370.66666666666663,194.06666666666666 526,201 C 681.3333333333334,207.93333333333334 806.6666666666667,241.26666666666665 954,251 C 1101.3333333333333,260.73333333333335 1270.6666666666665,246.86666666666667 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 L 0,233 C 205.33333333333331,215.26666666666665 410.66666666666663,197.53333333333333 562,192 C 713.3333333333334,186.46666666666667 810.6666666666667,193.13333333333333 948,202 C 1085.3333333333333,210.86666666666667 1262.6666666666665,221.93333333333334 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 L 0,233 C 198.93333333333334,232.60000000000002 397.8666666666667,232.20000000000002 558,241 C 718.1333333333333,249.79999999999998 839.4666666666667,267.79999999999995 980,268 C 1120.5333333333333,268.20000000000005 1280.2666666666667,250.60000000000002 1440,233 L 1440,400 L 0,400 Z"
    );
  }
}

.path-2{
  animation:pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
  0%{
    d: path("M 0,400 L 0,100 C 202.13333333333333,74.8 404.26666666666665,49.599999999999994 542,57 C 679.7333333333333,64.4 753.0666666666666,104.4 892,117 C 1030.9333333333334,129.6 1235.4666666666667,114.8 1440,100 L 1440,400 L 0,400 Z");
  }
  25%{
    d: path("M 0,400 L 0,100 C 167.19999999999993,110.53333333333333 334.39999999999986,121.06666666666668 472,116 C 609.6000000000001,110.93333333333332 717.6000000000001,90.26666666666665 874,85 C 1030.3999999999999,79.73333333333335 1235.1999999999998,89.86666666666667 1440,100 L 1440,400 L 0,400 Z");
  }
  50%{
    d: path("M 0,400 L 0,100 C 104,99.86666666666667 208,99.73333333333333 396,92 C 584,84.26666666666667 856,68.93333333333334 1044,69 C 1232,69.06666666666666 1336,84.53333333333333 1440,100 L 1440,400 L 0,400 Z");
  }
  75%{
    d: path("M 0,400 L 0,100 C 175.59999999999997,100.39999999999999 351.19999999999993,100.79999999999998 503,107 C 654.8000000000001,113.20000000000002 782.8000000000002,125.20000000000002 935,125 C 1087.1999999999998,124.79999999999998 1263.6,112.39999999999999 1440,100 L 1440,400 L 0,400 Z");
  }
  100%{
    d: path("M 0,400 L 0,100 C 202.13333333333333,74.8 404.26666666666665,49.599999999999994 542,57 C 679.7333333333333,64.4 753.0666666666666,104.4 892,117 C 1030.9333333333334,129.6 1235.4666666666667,114.8 1440,100 L 1440,400 L 0,400 Z");
  }
}

.path-3{
  animation:pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1{
  0%{
    d: path("M 0,400 L 0,233 C 134.13333333333333,248.73333333333335 268.26666666666665,264.4666666666667 420,260 C 571.7333333333333,255.53333333333333 741.0666666666666,230.86666666666667 914,223 C 1086.9333333333334,215.13333333333333 1263.4666666666667,224.06666666666666 1440,233 L 1440,400 L 0,400 Z");
  }
  25%{
    d: path("M 0,400 L 0,233 C 173.06666666666666,247 346.1333333333333,261 515,271 C 683.8666666666667,281 848.5333333333333,287 1002,280 C 1155.4666666666667,273 1297.7333333333333,253 1440,233 L 1440,400 L 0,400 Z");
  }
  50%{
    d: path("M 0,400 L 0,233 C 135.19999999999993,227 270.39999999999986,221 443,231 C 615.6000000000001,241 825.6000000000001,267 998,270 C 1170.3999999999999,273 1305.1999999999998,253 1440,233 L 1440,400 L 0,400 Z");
  }
  75%{
    d: path("M 0,400 L 0,233 C 201.06666666666666,215.13333333333333 402.1333333333333,197.26666666666668 538,191 C 673.8666666666667,184.73333333333332 744.5333333333333,190.06666666666666 884,199 C 1023.4666666666667,207.93333333333334 1231.7333333333333,220.46666666666667 1440,233 L 1440,400 L 0,400 Z");
  }
  100%{
    d: path("M 0,400 L 0,233 C 134.13333333333333,248.73333333333335 268.26666666666665,264.4666666666667 420,260 C 571.7333333333333,255.53333333333333 741.0666666666666,230.86666666666667 914,223 C 1086.9333333333334,215.13333333333333 1263.4666666666667,224.06666666666666 1440,233 L 1440,400 L 0,400 Z");
  }
}

.path-4{
  animation:pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
  0%{
    d: path("M 0,400 L 0,100 C 85.63636363636365,105.60765550239233 171.2727272727273,111.21531100478468 276,106 C 380.7272727272727,100.78468899521532 504.5454545454546,84.74641148325358 601,73 C 697.4545454545454,61.25358851674641 766.5454545454546,53.799043062200965 853,61 C 939.4545454545454,68.20095693779903 1043.2727272727273,90.05741626794259 1144,99 C 1244.7272727272727,107.94258373205741 1342.3636363636365,103.97129186602871 1440,100 L 1440,400 L 0,400 Z");
  }
  25%{
    d: path("M 0,400 L 0,100 C 99.69377990430621,103.76076555023923 199.38755980861242,107.52153110047847 296,112 C 392.6124401913876,116.47846889952153 486.1435406698564,121.67464114832536 587,116 C 687.8564593301436,110.32535885167464 796.0382775119618,93.7799043062201 899,83 C 1001.9617224880382,72.2200956937799 1099.7033492822968,67.20574162679425 1189,71 C 1278.2966507177032,74.79425837320575 1359.1483253588517,87.39712918660288 1440,100 L 1440,400 L 0,400 Z");
  }
  50%{
    d: path("M 0,400 L 0,100 C 125.4736842105263,120 250.9473684210526,140 341,136 C 431.0526315789474,132 485.68421052631584,104 555,91 C 624.3157894736842,78 708.3157894736842,80 818,81 C 927.6842105263158,82 1063.0526315789475,82 1171,85 C 1278.9473684210525,88 1359.4736842105262,94 1440,100 L 1440,400 L 0,400 Z");
  }
  75%{
    d: path("M 0,400 L 0,100 C 99.24401913875596,81.4066985645933 198.48803827751192,62.8133971291866 291,67 C 383.5119617224881,71.1866028708134 469.2918660287082,98.15311004784688 567,104 C 664.7081339712918,109.84688995215312 774.3444976076555,94.57416267942584 874,82 C 973.6555023923445,69.42583732057416 1063.33014354067,59.55023923444976 1156,63 C 1248.66985645933,66.44976076555024 1344.334928229665,83.22488038277513 1440,100 L 1440,400 L 0,400 Z");
  }
  100%{
    d: path("M 0,400 L 0,100 C 85.63636363636365,105.60765550239233 171.2727272727273,111.21531100478468 276,106 C 380.7272727272727,100.78468899521532 504.5454545454546,84.74641148325358 601,73 C 697.4545454545454,61.25358851674641 766.5454545454546,53.799043062200965 853,61 C 939.4545454545454,68.20095693779903 1043.2727272727273,90.05741626794259 1144,99 C 1244.7272727272727,107.94258373205741 1342.3636363636365,103.97129186602871 1440,100 L 1440,400 L 0,400 Z");
  }
}

.path-5{
  animation:pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1{
  0%{
    d: path("M 0,400 L 0,233 C 80.40191387559807,234.6937799043062 160.80382775119614,236.38755980861242 262,227 C 363.19617224880386,217.61244019138758 485.18660287081343,197.14354066985646 573,190 C 660.8133971291866,182.85645933014354 714.4497607655502,189.0382775119617 820,191 C 925.5502392344498,192.9617224880383 1083.0143540669858,190.70334928229667 1195,197 C 1306.9856459330142,203.29665071770333 1373.492822966507,218.14832535885165 1440,233 L 1440,400 L 0,400 Z");
  }
  25%{
    d: path("M 0,400 L 0,233 C 111.19617224880383,245.7177033492823 222.39234449760767,258.4354066985646 316,258 C 409.60765550239233,257.5645933014354 485.62679425837325,243.97607655502395 573,247 C 660.3732057416267,250.02392344497605 759.1004784688995,269.66028708133973 866,271 C 972.8995215311005,272.33971291866027 1087.9712918660287,255.38277511961724 1185,246 C 1282.0287081339713,236.61722488038276 1361.0143540669856,234.80861244019138 1440,233 L 1440,400 L 0,400 Z");
  }
  50%{
    d: path("M 0,400 L 0,233 C 94.83253588516749,226.6555023923445 189.66507177033498,220.31100478468898 292,210 C 394.334928229665,199.68899521531102 504.17224880382776,185.41148325358853 611,194 C 717.8277511961722,202.58851674641147 821.6459330143542,234.04306220095694 900,234 C 978.3540669856458,233.95693779904306 1031.244019138756,202.41626794258374 1117,197 C 1202.755980861244,191.58373205741626 1321.377990430622,212.2918660287081 1440,233 L 1440,400 L 0,400 Z");
  }
  75%{
    d: path("M 0,400 L 0,233 C 109.7129186602871,209.06698564593302 219.4258373205742,185.133971291866 320,186 C 420.5741626794258,186.866028708134 512.0095693779905,212.5311004784689 604,226 C 695.9904306220095,239.4688995215311 788.5358851674642,240.7416267942584 872,232 C 955.4641148325358,223.2583732057416 1029.846889952153,204.5023923444976 1123,203 C 1216.153110047847,201.4976076555024 1328.0765550239234,217.2488038277512 1440,233 L 1440,400 L 0,400 Z");
  }
  100%{
    d: path("M 0,400 L 0,233 C 80.40191387559807,234.6937799043062 160.80382775119614,236.38755980861242 262,227 C 363.19617224880386,217.61244019138758 485.18660287081343,197.14354066985646 573,190 C 660.8133971291866,182.85645933014354 714.4497607655502,189.0382775119617 820,191 C 925.5502392344498,192.9617224880383 1083.0143540669858,190.70334928229667 1195,197 C 1306.9856459330142,203.29665071770333 1373.492822966507,218.14832535885165 1440,233 L 1440,400 L 0,400 Z");
  }
}