.jumbotron {
  padding-top: 6rem;
  background-color: #ffe6e6;
}

#projects {
  background-color: #ffe6e6;
}

section {
  padding-top: 1rem;
}

.bg-red {
  background-color: #ff1a1a;
}

.bg-light-red {
  background-color: #ffe6e6;
}

a {
  color: #ff1a1a;
}

.logo-perusahaan {
  height: 150px;
}

.hideme {
    opacity:0;
}